.Placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.PlaceholderText {
    color: var(--text-color-secondary);
    font-size: 16px;
    font-weight: 500;
}

@media (max-width: 1024px) {
    .Placeholder{
        height: fit-content;
    }
}

.PlaceholderImage {
    width: 160px;
    height: 160px;
    opacity: 0.5;
    padding: 20px;
}